extends layout

block content
  h1 Password login

  form(action="/_doorman/login" method="post")
    input(type="hidden" name="login" value="unused")
    label(for="login") Password
    .input
      span.js-float-label.hide-label
        span.float-label-text(data-text='Passwort')
        if (errors)
          input#login.form-control-error.form-control(type="password" name="password" autofocus data-float-label="Passwort", placeholder="Passwort")
        else 
          input#login.form-control(type="password" name="password" autofocus data-float-label="Passwort", placeholder="Passwort")
      if (errors)
        each error in errors
          .error= error
    button.button(type="submit") Submit
      img(class="button-img" src="/_doorman/icons/arrow-right.svg")
