html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #fff;
  color: #19224F;
  font-family: FrutigerLight,Verdana,Tahoma,sans-serif;
}

body * {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

#small-logo { display: none; padding-top: 30px; }

#main {
  padding-top: 25vh;
  max-width: 300px;
  margin: 0 auto;
}

h1 {
  font-family: FrutigerBold;
  margin: 20px 0 10px;
  font-size: 36px;
}

h2 {
  font-weight: normal;
  font-size: 1.2em;
  color: #CCC;
}

form label {
  display: none;
}

.input {
  margin-bottom: 20px;
}

.input:hover .form-control,
.form-control:focus {
  border-color: #0090d0;
}

.form-control {
  height: 60px;
  display: block;
  width: 100%;
  padding: 6px 15px 1px;
  font-size: 16px;
  line-height: 1.428571429;
  color: #19224f;
  font-family: FrutigerBold;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d2d7d9;
  border-radius: 2;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control-error.form-control-error {
  border-color: #f4364c;
}

.js-float-label .form-control {
  padding-top: 22px;
  -webkit-transition: 0.2s linear padding-top;
  -o-transition: 0.2s linear padding-top;
  transition: 0.2s linear padding-top;
}

.js-float-label.hide-label .form-control {
  padding-top: 6px;
}

.form-control::placeholder {
  font-family: FrutigerLight;
}

.form-control::-webkit-input-placeholder {
  font-family: FrutigerLight;
}

.form-control::-webkit-input-placeholder {
  color: #5f6264;
}

.js-float-label {
  position: relative;
  display: block;
}

.input .js-float-label .float-label-text,
.input .js-float-label.js-unhighlight-label .float-label-text {
  color: #5f6264;
  font-size: 11px;
  left: 15px;
  font-weight: normal;
}

.js-float-label .float-label-text {
  position: absolute;
  top: .7em;
  left: 11px;
  font-size: 10px;
  color: #005896;
  font-weight: bold;
  line-height: 1;
  z-index: 3;
  pointer-events: none;
  -webkit-transition: 0.2s linear top, 0.2s linear opacity;
  -o-transition: 0.2s linear top, 0.2s linear opacity;
  transition: 0.2s linear top, 0.2s linear opacity;
}

.js-float-label .float-label-text:before {
  content: attr(data-text);
}

.js-float-label.hide-label .float-label-text {
  opacity: 0;
  top: 1em;
}

.error {
  color: #f4364c;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 12px;
}

.hide-error {
  display: none;
}

.button {
  display: inline-block;
  font-weight: 400;
  font-family: FrutigerBold;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid #0090D0;
  text-decoration: none;
  white-space: nowrap;
  padding: 4px 20px;
  font-size: 16px;
  line-height: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  background-color: #0090D0;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: background-color .2s ease-in;
  -o-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
  z-index: 1;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #005896;
  border: 1px solid #005896;
}

.button:active {
  outline: 0;
  background-image: none;
}

.button-img {
  margin-left: 10px;
  margin-bottom: -4px;
}

@media screen and (max-width: 776px) {
  #title { display: none; }
  #main { margin: 0 auto; padding-top: 0px; }
  #small-logo { display: block; }
  #small-logo img { width: 100%; }
}
